.landingCard
{
  width: 50vw;
  max-width: 600px;
}

.landingContainer
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
}

.landingImage
{
  z-index: -100;
  width: 100%;
  height: auto;
  max-height: 90vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}

.landingSVGContainer
{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 35%;
  min-width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


@media only screen and (max-width: 768px)
{
  .landingCard
  {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .landingContainer
  {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .landingImage
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .landingSVGContainer
  {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
