.draggableList
{
  min-height: 50px;
}

.listContainer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.pollButton
{
  cursor: pointer;
  width: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.pollPageContainer
{
  display: flex;
  flex-direction: column;
}

.pollTitle
{
  text-align: center;
}
