.homeContainer
{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.homeLink
{
  color: #000000;
  text-decoration: underline;
}


@media only screen and (max-width: 768px)
{
  .homeContainer
  {
    flex-direction: column;    
  }
}
