.graphContainer
{
  display: flex;
  flex-direction: column;
}

.chartContainer
{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.bar
{
  display: inline-block;
  vertical-align: middle;
  stroke-width:1;
  z-index: 1000;
}

.barSVG
{
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: visible;
  overflow-x: visible;
}

.barBox
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: auto;
  width: calc(100vw - 250px);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.whiteSpace
{
  display: inline-block;
  fill: none;
  stroke-width:1;
  z-index: 1000;
}

.barLabel
{
  display: inline-block;
  width: auto;
  max-width: 200px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.labelContainer
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.barContainer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  width: 100%
}

.percentContainer
{
  margin-left: 5px;
}

.xAxisContainer
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  height: 20px;
}

.xAxisLabel
{
  width: 25%;
}

.xAxisLabelText
{
  margin-left: 5px;
}

.xAxisBorder
{
  border-left: 1px solid black;
}

@media only screen and (max-width: 768px)
{
  .barLabel
  {
    width: 100px;
  }

  .barBox
  {
    width: calc(100vw - 160px);
  }

  .xAxisLabelText
  {
    font-size: 12px;
  }
}
