.cardContainer
{
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}

.cardHeader
{
  font-family: 'Patua One', cursive;
  font-size: 48px;
}

.cardContent, .cardLink
{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardLink
{
  display: inline-block;
  cursor: pointer;
  width: auto;
}

@media only screen and (max-width: 768px)
{
  .cardContainer
  {
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .cardHeader
  {
    font-size: 24px;
  }

  .cardContent, .cardLink
  {
    font-size: 14px;
  }
}
