.formContainer
{
  font-family: 'Patua One', cursive;
  font-size: 16px;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.formInput
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
}

.helperText
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #E53935;
}

.pollItem
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.submitButton
{
  cursor: pointer;
  width: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
