.formContainer
{
  margin-top: 100px;
  font-family: 'Patua One', cursive;
  font-size: 16px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.formInput
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
  margin-top: 5px;
  width: 100%;
}

.helperText
{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #E53935;
}

.infoText
{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.textContainer
{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

}

.entryContainer
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.pollItem
{
  display: inline-block;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pollBullet
{
  display: inline-block;
  margin-left: 25px;
  margin-right: 5px;
}

.pollItemsContainer
{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.promptTitle
{
  text-align: center;
  margin-bottom: 15px;
}

.submitButton
{
  cursor: pointer;
  width: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.signInLink
{
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

.signInText
{
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px)
{
  .formContainer
  {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
  }

  .promptTitle
  {
    font-size: 24px;
  }
}
