.bodyText
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.primaryColor
{
  color: #2E3131
}

.secondaryColor
{
  color: #7A7F59
}

.headerOne
{
  font-family: 'Patua One', cursive;
  font-size: 42px;
}

.headerTwo
{
  font-family: 'Patua One', cursive;
  font-size: 28px;
}

.genericButton
{
  cursor: pointer;
  width: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 100px;
}
