.bodyText
{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.bodyPaper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80vw;
  max-width: 100vw;
  min-height: calc(100vh - 150px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
}

.primaryBlue
{
  color: #5c8396  !important;
}

.primaryRed
{
  color: #B32E2B !important;
}

.primaryBackground
{
  background-color: #FFFFFF !important;
}

.leaderResult
{
  display: inline-block;
}

.redUnderline
{
  border-bottom: 2px solid #B32E2B;
  flex-wrap: nowrap;
}

.headerOne
{
  font-family: 'Patua One', cursive;
  font-size: 42px;
}

.headerTwo
{
  font-family: 'Patua One', cursive;
  font-size: 28px;
}

.headerThree
{
  font-family: 'Patua One', cursive;
  font-size: 20px;
}

.genericButton
{
  display: inline-block;
  text-align: center !important;
  cursor: pointer;
  width: auto;
  max-height: 50px;
  vertical-align: middle;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 100px;
  align-items: center;
}

.genericButton:hover
{
  color: #000000;
  background-color: #FFFFFF;
}

.entryContainer:hover .deleteIcon {
  opacity: 1;
}

.homeLinkContainer:hover .deleteIcon {
  opacity: 1;
}

.deleteIcon
{
  cursor: pointer;
  margin-left: auto;
  margin-right: 20px;
  opacity: 0;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 768px)
{
  .bodyPaper
  {
    min-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
