.bodyText
{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.primaryColor
{
  color: #2E3131
}

.primaryUnderline
{
  text-decoration: underline;
  text-decoration-color: #7A7F59;
}

.headerOne
{
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif; */
}

.headerTwo
{
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif; */
}

.secondaryColor
{
  color: #7A7F59
}
