.sliderContainer
{
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sliderLabelContainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.slider
{
  width: 500px;
  max-width: 800px;
  height: 20px;
  background: #000000;
  outline: none;
}


@media only screen and (max-width: 768px)
{
  .slider, .sliderLabelContainer
  {
    width: 275px;
  }
}
