.sliderContainer
{
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.slider
{
  width: 500px;
  max-width: 800px;
  height: 20px;
  height: 25px;
  background: #000000;
  outline: none;
}


@media only screen and (max-width: 768px)
{
  .slider
  {
    width: 300px;
  }
}
